---
layout: page
---

{{ content }}

<div class="experience--categories">

  {% for category in experience %}

    <table>
      <thead>
        <tr>
          <th class="experience--category-label">{{ category.label }}</th>
          <th class="experience--category-year">Recent Year</th>
          <th class="experience--category-years">Years</th>
          <th class="experience--category-level">Level</th>
        </tr>
      </thead>
      <tbody>
        {% assign byRecentYear = category.items | sort: "years" | sort: "recentYear" | reverse %}
        {% for item in byRecentYear %}
          <tr>
            <td class="experience--category-label">
              {{ item.mainKeyword }}
              {%- if item.description %}
                <div class="experience--category-desc">{{ item.description }}</div>
              {%- endif %}
            </td>
            <td class="experience--category-year">{{ item.recentYear }}</td>
            <td class="experience--category-years">{{ item.years }}</td>
            <td class="experience--category-level">
              {%- if item.level > 0 %}
                <progress value="{{ item.level }}" max="10"></progress>
                {%-  else %}
                N.A.
              {%- endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}

</div>