---
layout: base
eleventyImport:
  collections: ["homeSorted"]
---

{{ content }}

<div class="home--tiles">
{%- for item in collections.homeSorted -%}
  <a href="{{ item.data.page.url }}">
  <div {% if item.data.draft %}draft{% endif %} class="home--tile home--tile--{{ item.data.page.fileSlug }}">
    <i class="{{ item.data.homeIcon }}"></i>
    <h3>
      {{ item.data.title }}
    </h3>
  </div>
  </a>
{%- endfor -%}
</div>