---
layout: page
eleventyImport:
  collections: ["portfolioSorted"]
---
<main>
  {{ content }}
  <div class="portfolio">
    {%- for item in collections.portfolioSorted -%}
      <div class="portfolio--item portfolio--item--{{ item.data.page.fileSlug }}">
        <div class="portfolio--item--title">{{ item.data.title }}</div>
        <div class="portfolio--item--logo">
          <img src="/logos/{{ item.data.logo }}">
        </div>
        <div class="portfolio--item--content">{{ item.content }}</div>
      </div>
    {%- endfor -%}
  </div>
</main>
