---
layout: base
eleventyImport:
  collections: ["portfolioSorted"]
---
{% assign roles = role | split: ' / ' %}
{% assign communications = communication | split: ',' %}
{% assign technologies = technology | split: ',' %}
{% assign previousPost = collections.portfolioSorted | getPreviousCollectionItem %}
{% assign nextPost = collections.portfolioSorted | getNextCollectionItem %}

{% if not previousPost %}
  {% assign previousPost = collections.portfolioSorted | last %}
{% endif %}

{% if not nextPost %}
  {% assign nextPost = collections.portfolioSorted | first %}
{% endif %}

<div class="portfolio--prev-next">
  <div class="prev">
    {% if previousPost -%}
      <a href="{{ previousPost.url }}">
        <i class="fa-thin fa-hand-point-left"></i>
        {{ previousPost.data.title }}</a>
    {%- endif %}
    &nbsp;
  </div>
  <div class="back">
    <a href="/portfolio">
      <i class="fa-thin fa-hand-point-up"></i>
      Back to Portfolio overview</a>
  </div>
  <div class="next">
    &nbsp;
    <a href="{{ nextPost.url }}">
      {{- nextPost.data.title }}
      <i class="fa-thin fa-hand-point-right"></i>
    </a>
  </div>
</div>

<div class="portfolio-item">

  <img src="/logos/{{ page.fileSlug }}.png">

  <h1>{{ title }}</h1>

  <div class="portfolio-item--tags">
    <ul>
      <li>
        <strong>Role
          {%- if roles.length > 1 -%}s{%- endif -%}
          :</strong>
      </li>
      {%- for r in roles -%}
        <li>{{ r }}</li>
      {%- endfor -%}
    </ul>
    <ul>
      <li>
        <strong>Communication:</strong>
      </li>
      {%- for c in communications -%}
        <li>{{ c }}</li>
      {%- endfor -%}
    </ul>
    <ul>
      <li>
        <strong>Technologies:</strong>
      </li>
      {%- for t in technologies -%}
        <li>{{ t }}</li>
      {%- endfor -%}
    </ul>
  </div>
    
  <div class="portfolio-item--content">
    {{ content }}
  </div>
</div>
