---
layout: page
eleventyImport:
  collections: ["portfolioSorted"]
---

{{ content }}

<div class="portfolio--entries">
  {%- for entry in collections.portfolioSorted -%}
    <a href="{{ entry.url }}" class="portfolio--link">
      <div {% if entry.data.draft %}draft{% endif %} class="portfolio--entry portfolio--entry--{{ entry.data.page.fileSlug }}">
        <div class="portfolio--entry--title">{{ entry.data.title }}</div>
        <div class="portfolio--entry--logo"><img src="/logos/{{ entry.data.page.fileSlug }}.png"></div>
        <div class="portfolio--entry--content">{{ entry.data.role | md }}</div>
      </div>
    </a>
  {%- endfor -%}
</div>
